.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  touch-action: none;
  z-index: 0 !important;
}

.liquid-ether-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  background-color: #5C4033;
}
